<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <!-- <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter Your Username">
        <input type="password" name="password" placeholder="Enter Your Password">
        <input type="submit">
    </form> -->
    <div id="main-login">
        <div id="login-card">
            <div id="profile-image">
                <img src="../images/uploads/default.jpg" alt="">
            </div>
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Enter Your Username">
                <input type="password" name="password" placeholder="Enter Your Password">
                <input style="cursor: pointer;" type="submit">
            </form>
            <a href="/register">Create Account</a>
        </div>
    </div>
    
</body>
</html>