*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#main{
  width: 100vw;
  height: 100vh;
  background-color: rgb(30, 30, 30);
}
nav{
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  color: #fff;
  font-family: gilroy;
}
.navLeft{
  display: flex;
  align-items: center;
  gap: 10px;
}
.navLeft h3{
  font-weight: 500;
}
.navLeft img{
  width: 20px;
}
.navRight i{
  font-size: 15px;
}
.navRight .mini{
  margin: 0px 15px;
}
center{
  width: 100vw;
  height: 94vh;
  display: flex;
}
#leftAll{
  width: 3% !important;
  height: 95vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 3px;
}
#centerMain{
  overflow: hidden;
  display: flex;
  width: 97vw;
  height: 95vh;
  border-top-left-radius: 10px;
  border: 2px solid rgb(27, 27, 27);
}
.userAbout{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.userAbout .ri-phone-line{
  margin: 5px 0px;
  
}
i{
  cursor: pointer;
  font-size: 18px;
  padding: 8px 8px;
  border-radius: 5px;
}
i:hover{
  background-color: rgb(44, 44, 44);
}
.userProfile{
  overflow: hidden;
  margin: 10px 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.userProfile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#userContact{
  width: 30vw;
  height: 97vh;
  background-color: rgb(40, 40, 40);
}
#userChats{
  width: 67vw;
  height: 97vh;
  border-left: solid 2px rgb(27, 27, 27);
}
.userContactNav{
  color: #fff;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
#chatsIcons .ri-pen-nib-line{
  margin-right: 10px;
}
.searchInputs{
  margin: 10px 0px;
  border-radius: 5px;
  width: 25vw;
  height: 4vh;
  padding: 6px 10px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(30, 30, 30);
  color: #fff;
}
#archived{
  display: flex;
  align-items: center;
  width: 28vw;
  height: 6vh;
  border-radius: 5px;
  padding: 0px 10px;
  color: #fff;
}
#archived:hover{
  background-color: rgb(49, 49, 49);
}
#allChat{
  overflow-y: auto;
  width: 30vw;
  height: 73vh;
}
#allChat::-webkit-scrollbar{
  display: none;
}
.personalchat{
  display: flex;
  align-items: center;  
  margin: 5px 0px;
  width: 28vw;
  height: 10vh;
  border-radius: 5px;
  padding: 0px 10px;
  color: #fff;
}
.personalchat:hover{
  background-color: rgb(49, 49, 49);
}
.personalProfile{
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0px 5px;
  background-color: rebeccapurple;
}
.personalProfile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#searchMainBox{
  display: none;
}
#searchUserBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  border-radius: 10px;
  border: 1px solid gray ;
  width: 25vw;
  height: 40vh;
  left: 26%;
  top: 12%;
  background-color: rgb(45, 45, 45);
}
#searchUserBox span{
  color: #fff;
  cursor: pointer;
}
.newUsersearch{
  width: 20vw;
}
#newuserSubmitBtn{
  margin: 10px 0px;
  border-radius: 5px;
  width: 10vw;
  height: 4vh;
  padding: 6px 10px;
  outline: none;
  border: 1px solid gray;
  background-color: rgb(30, 30, 30);
  color: #fff;
  display: none;
  
}
#rightUserNav{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 67vw;
  padding: 0px 10px;
  height: 10vh;
  background-color: #282828;
  color: #fff;
  border-bottom: solid 2px rgb(27, 27, 27);
}
.rightUserImage{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rebeccapurple;
  overflow: hidden;
}
.rightUserImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#usersConversation{
  width: 67vw;
  height: 75vh;
  background-color: rgb(49, 49, 49);
  border-bottom: solid 2px rgb(27, 27, 27);
}
#rightBottomInput input{
  margin: 18px 20px;
  width: 80%;
   height: 30px;
   color: #fff;
   outline: none;
   font-weight: 300;
   resize: none;
  background-color: transparent;
  outline: none;
  border: none;
}
#rightBottomInput input::-webkit-scrollbar{
  display: none;
}
#rightBottomInput{
  display: flex;
  width: 67vw;
  height: 9vh;
  background-color: #333;
  color: #fff;
}
.sendbtn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 60px;
}
.sme{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 50px;  
   margin: 4px 0px;
}
